*{
    margin: 0px;
    padding: 0px;
}
section{
    margin: 20px;
}
article{
    background-color: aquamarine;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}
#art1{  
    height: 55vh;
}
#art2{
    height: 25vh;
}