*{
    margin: 0px;
    padding: 0px;
}
section{
    margin: 20px;
}
#sec2{
    display: flex;
}
article{
    background-color: aquamarine;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}
#art1{
    height: 65vh;
}
#art2{
    height: 15vh;
    width: 100%;
}