<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Encuesta satisfacción</h2>
    <form action="/submit-survey" method="post">
    <label for="nombre">"Nombre"</label>
    <input type=" text" id=" nombre" name="nombre"><br>

    <label for ="satisfacción">Nivel de satisfacción: </label>
    <input type="range" id="satisfaccion" name="satisfaccion"><br>

    <label for="comentarios">comentarios:</label><br>
    <textarea id="coemnatrios" name="comentarios" rows><br>

    <input type="submit" value="Enviar"><br>
    </form>
</body>
</html>