<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subir archivo</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">
</head>
<body>
    <h2>Subir archivo</h2>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <label for="archivo">Seleccione un archivo:</label>
        <input type="file" id="archivo" name="archivo" required><br><br>
        <input type="submit" value="Subir">
    </form>
</body>
</html>