*{
    margin: 0px;
    padding: 0px;
}
section{
    display: flex;
    margin: 10px;
}
article{
    background-color: aquamarine;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    height: 25vh;
}
#art1{
    width: 75%;
}
#art2{
    width: 15%;
}